*.pth 
env/__pycache__
agent/__pycache__
objects/__pycache__
MUJOCO_LOG*
gpd/build/
*egg-info
*/__pycache__
.vscode
test.py
# *.pth
*.json
!osc_pose*
.vscode/ 
*.mp4
logs/
videos/*
baselines/states/
!baselines/states/*backup.h5
__pycache__/*
__pycache__/
baselines/checkpoints/*
